


html, body {
    height: 100%;
    overflow-x: hidden;
    margin: 0px;
}

:root {
    --nav-color: rgba(248, 248, 232, 0.7);
    --nav-color-start: rgb(53, 141, 241, 0);
    --bg-color-start: rgb(0, 0, 0);
    --bg-color-end: rgb(0, 0, 0, 0);
    --btn-bg-color: rgb(233, 208, 176);
    --btn-txt-color: rgb(0, 0, 0);
    --btn-txt-shadow: 1px 1px 1px rgba(255, 255, 255);
    --btn-bg-color-hover: rgba(0, 0, 0, 0.6);
    --bg-color-entries: rgb(255, 255, 255, 0.8);
    --border-entries:  double 6px rgb(4, 68, 68);
    --bg-color-footer: rgb(255, 228, 196, 0.7)
  }


body {
    background-image: url('./images/ramona-balaban-1nkqtBfYkm4-unsplash.jpg');
    /* background-color: black; */
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}

.page-wrap {
    margin: 0;
    
    /* background-color: rgb(0, 0, 0); */
    animation: bg-trans 2.5s forwards ease-in;
    height: fit-content;



    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    
}

@keyframes bg-trans {
    from {

        background-color: var(--bg-color-start);

    }

    to {

        background-color: var(--bg-color-end);
        
    }
}


.content-wrap {

    padding: 5vw;

}

button {
    font-size: 1.1em;
    font-weight: 900;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 7px;
    background-color: var(--btn-bg-color);
    height: 8vh;
    text-shadow: var(--btn-txt-shadow);
    color: var(--btn-txt-color)
}

button:hover {
    color: white;
    text-shadow:2px 2px 2px black;
    background-color: var(--btn-bg-color-hover);
    box-shadow: 3px 3px 4px rgb(255, 255, 255);
    border-radius: 9px;
    border-color: rgb(255, 255, 255);
    cursor: pointer;
}

.nav {
    /* padding-top: 5vh; */
    /* display: flex; */
    /* padding: 1vw; */
    width: 100%;
    /* background-color: rgba(163, 106, 36, 0.7); */
    display: flex;
    justify-content: center;

    position: sticky;
    
    top: 0;
    z-index: 1;

    
}

@keyframes nav-trans {
    from {
        background-color: var(--nav-color-start);
    }

    50% {
        background-color: var(--nav-color-start);
    }

    to {
        background-color: var(--nav-color);
    }
}


.nav>ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: calc(5vw - 10px) ;
    justify-content: center;
    align-content: center;
    margin-left: 1vw;
    margin-right: 1.9vw;
    padding-top: 5vh;
    list-style: none;
    padding: 0;
}

/* .resume {
    font-size: 1.1em;
} */



.title {
    text-align: center;
    font-size: 2.8em;
    font-weight: 900;
    text-decoration: underline;
    text-shadow: 2px 2px  2px antiquewhite;

}

.entries {
    padding-left: 0;
}

.entries>li {
    background-color: var(--bg-color-entries);
    animation: bg-trans2 2.5s forwards;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 17px;
    border: var(--border-entries);
    border-radius: 10px;
    padding: 2vw;
    margin-bottom: 2vw;
    max-width: 90%;
}

@keyframes bg-trans2 {
    from {

        background-color: rgb(255, 255, 255, 0);
        
    }

    50% {
        background-color: rgb(255, 255, 255, 0);
    }

    to {

        background-color: var(--bg-color-entries);

    }
}

.entry-name {
    font-size: 1.5em;
    font-weight: 900;
    align-self: center;
}

.entry-desc {
    font-size: 1.3em;
}

.entry-languages {
    font-size: 1.3em;
}

.entry {
    text-shadow: 2px 2px  3px rgb(88, 86, 86)
}

img {
    height: auto;
    width: clamp(10vw, 50%, 30vw);
    /* border: 3px rgb(124, 73, 6) solid; */
    border-radius: 10px;
    box-shadow: 7px 7px 10px black;
    align-self: center;
}

.footer {
    width: 100%;
    background-color: var(--bg-color-footer);
    display: flex;
    justify-content: center;

}

.footer-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(5vw - 10px) ;
    justify-content: center;
    align-content: center;
    margin-left: 1vw;
    margin-right: 1.9vw;
    padding-top: 5vh;
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color:rgb(4, 68, 68)
}

.slideright {
    animation: rightslide 3s forwards;
}

.slideleft {
    animation: leftslide 3s forwards;
}

@keyframes rightslide {
    from {
        transform: translateX(350%);      
    }

    30% {
        transform: translateX(350%);   
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes leftslide {
    from {
        transform: translateX(-350%);      
    }

    50% {
        transform: translateX(-350%);   
    }

    to {
        transform: translateX(0%);
    }
}

@media (min-width: 500px) {

    .nav {
        animation: nav-trans 4s forwards;
    }

    .entries {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3vw;
    }

    .button {
        height: 6vh;
    }


}


/* .nav-items>li:hover {
    background-color:rgb(127, 255, 212, 0.5);
} */

